.greetings {
  background-color: #193f6c;
}

.landing {
  background-image: url("https://t4.ftcdn.net/jpg/04/38/55/69/360_F_438556946_UKupZvZrCzbfIxawj8P57hoDSl7ypza9.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.heading {
  color: #f5c45e !important;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

.subheading {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 30px;
  color: wheat;
}
.subsubheading {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 50px;
  color: #f5c45e !important;
}

.profilepic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.paragraph {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: wheat !important;
}
.hobbiessection {
  background-color: #102e50;
}

.hobbiespic {
  border-radius: 10px;
  height: 300px;
  width: 400px;
}
.hobbies-heading {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(202, 195, 195) !important;
  font-size: 40px;
}

.about-me {
  background-color: #193f6c !important;
}
button {
  background-color: #e78b48 !important;
  color: #be3d2a !important;
  font-family: "Noto Serif", serif !important;
  font-size: 25px !important;
}

.footer {
  background-color: #102e50 !important;
}
